{% load static %}


<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Gestion de Facturation Nouveau Soft">
	<title>Nouveau Soft - outil de Gestion de Facture</title>
	<title>{{ object.ref_fact|date:"yW" }} - {{ object.client.nom_societe }}</title>
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/css/font-awesome.min.css">

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	
	<link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

	<!-- Custom styles for our template -->
	<link rel="stylesheet" href="/static/css/bootstrap-theme.css" media="screen">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/blog.css">

 	
 

</head>

<body class="home">
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container pull-right">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>

				<a class="navbar-brand" href="http://nouveausoft.com/"><img src="/static/images/logo3_new_soft.png" alt="http://nouveausoft.com/images/logo-signature.png"></a>

			</div>
<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="/">ACCUEIL</a></li>
					<li class="text-center"><a href="../facture_list">FACTURE </a></li>
					<li><a href="../client_list">CLIENTS</a></li>
					<li><a href="/index">CONTACT</a></li>

					<!--MENU DEROULANT NON ACTIF POUR LE MOMENT-->
					 <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">PARAMETRES<b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item text-center" href="/prestataire_list"> LISTE PRESTATAIRES</a></li>
							<li class="active text-center"><a href="../prestataire">CREER PRESTATAIRE</a></li>
						</ul>
					</li>

					{% if user.is_authenticated %}
					<li><a class="btn roll-text" href="/logout">DECONNEXION</a></li>
					<!--nom de l'utilisateur connecté avec la première lettre en majuscule-->
        			<div class="user">
         			<strong>{{ user.get_username.capitalize }}</strong>
        			</div>
					{% else %}
					<li><a class="btn roll-text" href="/login">INSCRIPTION / CONNEXION</a></li>

					{% endif %}


				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div>
	<!-- /.navbar -->

	{% block  content %}
	{% endblock content %}

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">

					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>05.56.30.80.49<br>
								<a href="mailto:#">info@nouveauSoft.com</a><br>
								<br>
								<a href="http://nouveausoft.com/"><img src="/static/images/logo3_new_soft.png" alt="logo_du_site"><br></a>
								1 rue du Pitey<br>
								40130 CAPBRETON
							</p>
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Nous suivre</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
					<aside id="nav_menu-3" class="col-xs-12 col-sm-12 col-md-4 col-lg-4  widget widget_nav_menu"><h6 class="widget-title">Compétences</h6><div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu"><li id="menu-item-2563" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2563"><a href="http://nouveausoft.com/competences/creation-de-sites-web/">Création de sites Web</a></li>
<li id="menu-item-2564" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2564"><a href="http://nouveausoft.com/competences/seo-referencement-internet/">SEO-Webmarketing</a></li>
<li id="menu-item-2565" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2565"><a href="http://nouveausoft.com/competences/nos-engagements/">Web consulting</a></li>
<li id="menu-item-2567" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-2567"><a href="http://nouveausoft.com/competences/communication-papier/">Print</a></li>
</ul></div></aside>

						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Accueil</a> |
								<a href="#">Plan du site</a> |
								<a href="#">Mentions légales</a> |

							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2019, nouveauSoft - Conçu par  <a href="#" rel="designer">Caramel</a>
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>
{% comment %} {% comment %} <script type="text/javascript" src="http://nouveausoft.com/wp-content/plugins/cherry-socialize/cherry-framework/modules/cherry-post-formats-api/assets/js/min/cherry-post-formats.min.js?ver=1.5.8"></script> {% endcomment %}
<script type="text/javascript" src="http://nouveausoft.com/wp-content/plugins/sassy-social-share/public/js/sassy-social-share-public.js?ver=3.2.17"></script>

	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/static/js/headroom.min.js"></script>
	<script src="/static/js/jQuery.headroom.min.js"></script>
	<script src="/static/js/template.js"></script> 


</html>
