<!--VERSION JEAN LUC-->


{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}

<head>
<link rel="stylesheet" href="/static/css/pdf.css">
</head>
<!-- CREATION DIV IMPRESSION PDF -->
<div id="printableArea" style="display:flex; justify-content: space-between; margin: auto;">
  <div>
  <h4>{{ facture.prestataire.nom }}</h4>
  <p>{{ facture.prestataire.adresse}}<br/>
      {{ facture.prestataire.code_postal }} {{ facture.prestataire.ville }}<br/>
      Tel: {{ facture.prestataire.telephone}}<br/>
      email: {{ facture.prestataire.email }}</p>
  <p>Siret: {{ facture.prestataire.siret }}</p>   
  <!-- TODO modifier URL pour qu'elle fonctionne  -->
  <img src="{% static 'facture.prestataire.logo' %}" width="220">
  <br>
  <br>
  </div>
  <div>
    
    <h4>FACTURE N°:{{ facture.ref_fact|date:"yW" }} - {{ facture.id }}</h4>
    <h4>{{ facture.client.nom_societe }}</h4>
    <p>{{ facture.client.adresse}}<br/>
        {{ facture.client.code_postal }} {{ facture.client.ville }}<br/></p>
    <p>Date: {{facture.ref_fact }}    
   
    <p>Type : <strong>{{ facture.type_facture }}</strong></p>
  
  
  </div> 
</div>


<!-- CONDITION DU TEXTE D'AFFICHAGE EN FONCTION DU TYPE DE FACTURE-->


  <!--PONCTUELLE - ENTETE -->
    {% if "PONC" in facture.type_facture %}<strong>Règlement à réception</strong>{% endif %}<br>

<!--MENSUELLE - ENTETE-->
  {% if "MENS" in facture.type_facture %}Vous avez opté pour le prélèvement automatique. Vos mensualités seront prélevées vers le <strong>20</strong> de chaque mois.<br>
  Consultez votre échéancier en bas de page.{% endif %}<br>

  <p><strong>Période concernée : {{ facture.date_debut|date:'F' }}</strong>

  {% if "PONC" in facture.type_facture %}<p>Date de la prestation le {{ facture.date_debut}}</p>{% endif%}
  {% if "ANNU" in facture.type_facture %}<p> {{ facture.date_debut }} au {{ facture.date_echeance }}<br>Date d'expiration : <strong>{{ facture.date_echeance}}</strong></p>{% endif%}
  {% if "MENS" in facture.type_facture %} du {{ facture.date_debut }} au {{ facture.date_echeance }}</p>{% endif%}

<br>


<!--ANNUELLE - ENTETE-->
  {% if "ANNU" in facture.type_facture %}ATTENTION ! Merci d'effectuer votre paiement AVANT la date d'expiration mentionnée ci-dessus.<br>Merci de votre compréhension<br>{% endif %}
  <br>

<!--PRESTATION-->
<h4><strong>PRESTATION</strong></h4>
  {% comment 'version Armel' %}
    <p>Intitulé : {{ facture.intitule }}</p>
    <p>Date prestation : {{ facture.date_prestation }}</p>
  {% endcomment %}

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">Intitulé</th>
        <th scope="col">Prix unitaire</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix HT</th>
      </tr>
    </thead>
    <tbody>
      {% for d in liste_detail %}
        <tr>
          {% for key, values in d.items %}
            <td>
            {{ values }}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
  

  <div style="display:flex; justify-content: space-evenly; margin: auto;">
  
  
  <p>Taux TV : {{facture.prestataire.TVA|floatformat:2}}
  
  <p>Prix TTC : {{Prix_TTC|floatformat:2}}</p>
  
  <p>Dont TVA : {{DontTVA|floatformat:2}}</p><br>
  
  <p>TVA non applicable, art. 293 B du CGI</p>
  <p>Total HT : {{ Prix_HT }} Euros</p>
  </div>
<!--PONCTUELLE- FOOTER 1 -->
<strong>Règlement à réception</strong>
{% if "PONC" in facture.type_facture %}<p>Merci de faire votre règlement par chèque à l'ordre de {{ facture.prestataire.nom }} ou par virement : <br></p>
<p><strong> IBAN : {{ facture.prestataire.rib }}<br>BIC - ADRESSE/SWIFT : SOGEFRPP</strong></p>{% endif %}


<!--ANNUELLE-->
{% if "ANNU" in facture.type_facture %}<p>Merci de votre règlement par chèque à l'ordre de nouveauSoft ou par virement : <br></p>
<p><strong> IBAN : {{ facture.prestataire.rib }}<br>BIC - ADRESSE/SWIFT : SOC 00/01/1900</strong></p>
<p> Nous pouvons également vous proposer le prélèvement mensuel automatique, nous consulter pour activer ce mode de règlement.<br>
Mensualités en cas de prélèvement mensuel (sans frais) :  {{ Echeance_12|floatformat:2}}</p>{% endif %}
<br>



<!--PONCTUELLE - FOOTER 2-->

  {% if "PONC" in facture.type_facture %}<p>L'équipe de nouveauSoft vous remercie de votre confiance.</p>
{% endif %}



<!--MENSUELLE - FOOTER 1 -->
{% if "MENS" in facture.type_facture %}<p>Votre prochaine échéance : <strong>le {{facture.date_echeance}}</strong></p><br>
  

  
   {% if prem_ech %} 
    <p> Première échéance le 20 {{ prem_ech }}: {{Echeance_MT|floatformat:2}} &euro;<P>
    <p> Echéances suivantes:</p>

  {% else %}
    <p>Echéancier:</p>  
  {% endif %}
  <!--MENSUELLE - ECHEANCIER-->

  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col">MOIS</th>
        <th scope="col">MONTANT</th>
      
        <th scope="col">MOIS</th>
        <th scope="col">MONTANT</th>
      </tr>
    </thead>
    <tbody>
      {% for g, d in liste_Echeance %}
        <tr>
          <th scope="row">20 {{ g }}</th>
          <td>{{ Echeance_MT|floatformat:2 }} &euro;</td>
          <th scope="row">20 {{ d }}</th>
          <td>{{ Echeance_MT|floatformat:2 }} &euro;</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>NouveauSoft vous remercie de votre confiance <br/>
  En cas de rejet de votre banque, des frais de 30€ HT vous seront facturés par prélèvement rejeté.</p>
  <p class="contrat">Comme prévu dans les termes du contrat, votre abonnement se renouvelle tacitement sauf avis contraire émis de votre part au moins 30 jours avant votre date d'échéance.</p>
{% endif %}



<!--FERMETURE DIV ZONE IMPRESSION -->
</div>



