{% extends 'baseSocle.html' %}
{% comment %} {% load crispy_forms_tags %} {% endcomment %}
{% load bootstrap3 %}
{% block content%}

<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Accueil</a></li>
			<li class="active">Creation prestataire</li>
		</ol>

		<div class="row">

            <!-- Article main content -->


				<header class="page-header">
					<h1 class="page-title"></h1>
                    <h1>CREER / MODIFIER UN PRESTATAIRE</h1>
				</header>


			<!-- AFFICHAGE FORMULAIRE PRESTATAIRE -->

				<form enctype="multipart/form-data" method="POST" action="">

					{% csrf_token %}
					{% comment %} {{ form|crispy }} {% endcomment %}
					{% bootstrap_form form %} 
				<div class="col-lg-4 text-right">
					<button class="btn btn-action" type="submit">Valider</button>
				</div>

				</form>

                <div class="col-lg-4 text-right">
		            <a class="dropdown-item text-center" href="/prestataire_list/"><button class="btn btn-default" type="submit">Annuler</button>
            	</div>
                <div class="col-lg-4 text-right">
		            <a class="dropdown-item text-center" href="/"><button class="btn btn-default" type="submit">Accueil</button>
            	</div>
		</div>
	</div>

{% endblock content%}



